<div *ngIf="showChilren" style="width:49%; margin-left:30%;">
 
    <ul class="list-group-item" style="list-style-type:none; padding-top: 6px;padding-left: 8px;padding-right: 9px;">
     <li *ngFor="let obj of vedioList.items" (click)="datToDetailComponent(obj)" style="width: 108%;" > 
        <img src={{obj.snippet.thumbnails.high.url}} width="120px" height="auto" style="padding-top:7px">
        <span class="p1" style="width:60%;display:inline-block;vertical-align:top; padding-top:10px">
            {{obj.snippet.title}}</span></li>
  
    </ul>
</div>
<!-- <app-vedio-details (childData)="goToDetailsData($event)" ></app-vedio-details> -->    